#acc{
    width:940px;
    margin: 0 auto;
    padding:10px;
}
#acc section p{
    display:none;
}
#acc section a{
    color:black;
    text-decoration:none;
}
#acc section:target p{
    padding-left:2em;
    padding-right:3em;
    display:block;
    font-family:Verdana, Geneva, sans-serif;
    font-weight:100;
    font-size:14px;
}	

#postDet{
    font-family:Verdana, Geneva, sans-serif;
    padding-left:1em;
    font-size:12px;
    color:#999;
    font-weight:100;	
}

#storyView {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -10%);
  background-color: #a8fdfd;
  width: 40%;
  overflow-y: auto;
  border-radius: 10px;
  border-width: 0.5px;
  height: auto;
  max-height: 500px;
  visibility: hidden;
  z-index: 1;
}


#storyViewClose{
    height:25px;
    width:inherit;
    border-width:0.5px;
    border-style:solid;
    background-color:#f00;
    border-radius:10px;
}

#commentLine {
  background-color: #ccfefe;
  border-radius: 10px;
  border-style: groove;
  border-width: 0.5px;
  font-family: cursive;
  height: auto;
  margin: 0 10px 10px;
  overflow-x: auto;
  padding: 12px;
}

.feedbackBtn {
  float: left;
  font-family: serif;
  height: 30px;
  margin-left: 10px;
  margin-top: 5px;
  width: 60px;
}

.storytitlebold {
  font-size: 1.5em;
  font-style: italic;
  margin: 10px 0 0 10px;
  padding: 0;
}

.pbyname {
  font-size: 0.8em;
  margin: 0 0 0 10px;
  padding: 0;
  position: relative;
  top: 0;
}

.postedstory {
  bottom: 15px;
  font-size: 1em;
  margin-left: 10px;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  position: relative;
}

#story hr{
    position: relative;
    bottom: 15px;
}

#feedback {
  background-color: #98f3f3;
  bottom: 24px;
  height: 60px;
  position: relative;
}

#reportDiv{
    visibility: hidden;
    position:absolute;
    background-color: #ccfefe;
    
    
        font-family:Verdana, Geneva, sans-serif;
   
    
    height:auto; //440px;
    top: 80%;
    left:50%;
    width: 400px;
    border-radius:10px;
    border-width:0.5px;
}

#writeComment {
  border-radius: 5px;
  border-width: 0.3px;
  height: 40px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 85%;
}

#cmtpostbtn {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-width: 0.3px;
  height: 44px;
  margin-right: 10px;
  width: 10%;
}

.timestampcmt{
  bottom: 2px;
  font-size: 0.5em;
  margin: 0;
  padding: 0;
  position: relative;
}

.commentclz {
  bottom: 20px;
  font-size: 1em;
  margin: 0;
  padding: 0;
  position: relative;
}

#deleteBtn{
    margin-bottom: 10px;
    margin-right: 10px;
    
}

.profilepicofuser {
  float: left;
  height: 44px;
  margin: 3px;
  width: 44px;
  background-size: 44px;
}

#likeCount {
  height: 20px;
  left: 30px;
  position: relative;
  width: 20px;
}

#unlikeCount {
    height: 20px;
    left: 100px;
    position: relative;
    width: 20px;
}