#editInfo {
  height: 350px;
  margin-left: 290px;
  margin-top: 30px;
  position: relative;
  width: 300px;
}

#image {
  margin-bottom: 75px;
  margin-left: 25px;
  margin-top: -356px;
  width: 275px;
}

#imageSelection{
	margin-top:10px;
	margin-left:25px;
}

#changePassword{
	float:right;

	margin-top:-356px;
	width:370px;
}

.editinfoinputbox{
    width: 290px;
}

#editInfo > button {
  width: 150px;
}

#changePassword > button {
    width: 150px;
}

.coverbellowbuttons{
    width: 140px;
}
.changepwbtns{
    width: 143px;
}

#coverpicform {
  margin-left: 50px;
}