#FriendlistBucket{
    width: 100%;
    display: inline-flex;
    overflow-x: hidden;
}

#AllFriendlist{
    width: 275px;
    height: auto;
    text-decoration: none;
}

#AllFriendlist a{
    color: black;
    padding: 10px;
}

#AllFriendlist a:hover{
    font-weight: bold;
}

#MyFriendlist{
    width: 490px;
    height: auto; 
}

#MyFriendlist a{
    color: black;
    text-decoration: none;
}

#MyFriendlist a:hover{
    font-weight: bold;
}

#MyFriendRequests{
    width: 275px;
    height: auto;
}

#MyFriendRequests a{
    color: black;
    text-decoration: none;
}

#MyFriendRequests a:hover{
    font-weight: bold;
}

.bucketheadder {
  background-color: #9dc3e7;
  border-top-style: solid;
  border-top-width: 0.5px;
  border-top-color: #fff;
  height: 50px;
  position: relative;
  bottom: 22px;
}

.bucketheadder h3 {

  font-size: 1.4em;
  position: relative;
  text-align: center;
  color: #fff;
}

.allriendlistviewdiv{
    height: 50px;
    width: auto;
}

.profilepicofuser {
  float: left;
  background-size: 100% 100%;
  height: 44px;
  margin: 3px;
  width: 44px;
}

.allriendlistviewdiv a {
  position: relative;
  top: 15px;
}

.displayy{
    max-height: 600px;
}

#MyFriendRequests h5 {
  margin: 10px 0 0 10px;
  padding: 0;
  text-align: unset;
}

.displayy:hover{
    background-color: #E6F7F7;
}

.friendlistviewbucket{
    overflow-x: hidden;
    overflow-y: auto;    
}